.git
.gitignore
.env*
.dockerignore
Dockerfile
docker-compose*
Dockerfile.*
docker-compose*
README.md
node_modules
npm-debug.log
.DS_Store
.byebug_history
.idea
.vscode
coverage
log/*.log
tmp
public/packs
test
db/*.sqlite3
db/*.sqlite3-*
storage/*
!/storage/.keep
/public/assets
.rakeTasks
